button,
select,
html,
textarea,
input {
  font-family: "Noto sans CJK SC", "Source Han Sans CN", "Source Han Sans SC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 112px; }

.md-display-3 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 56px; }

.md-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 63px; }

.md-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 48px; }

.md-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; }

.md-title {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.005em; }

.md-subhead {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 30px; }

/************
 * Body Copy
 ************/
.md-body-1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 23px; }

.md-body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 26px; }

.md-caption {
  font-size: 13px;
  letter-spacing: 0.02em; }

.md-button {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em; }

.white {
  background-color: #FFFFFF;
}

.grey-300 {
  background-color: #E0E0E0;
}

.grey-100 {
  background-color: #F5F5F5;
}

.grey-50 {
  background-color: #FAFAFA;
}

.black {
  background-color: #000000;
}

.grey-900 {
  background-color: #212121;
}

.grey-800 {
  background-color: #424242;
}
.dark {
  color: #000000;
}
.dark-primary {
  color: rgba(0,0,0,0.87);
}
.dark-secondary {
  color: rgba(0, 0, 0, 0.54)!important;
}
.dark-hint {
  color: rgba(0, 0, 0, 0.38);
}
.dark-divider {
  color: rgba(0,0,0,0.12);
}
.light {
  color: #FFFFFF;
}
.light-primary {
  color: rgba(255,255,255,1.0);
}
.light-secondary {
  color: rgba(255,255,255,0.7);
}
.light-hint {
  color: rgba(255, 255, 255, 0.3);
}
.light-divider {
  color: rgba(255,255,255,0.12);
}

.dark-icon-active {
  color: rgba(0,0,0,0.54);
}
.dark-icon-inactive {
  color: rgba(0,0,0,0.26);
}
.light-icon-active {
  color: rgba(255,255,255,1.0);
}
.light-icon-inactive {
  color: rgba(255,255,255,0.30);
}
.icon-font {
  font-family: 'iconfont'!important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
md-input-container md-icon {
  color: rgba(0, 0, 0, 0.54);
}
md-icon.block {
  display: block;
  font-size: 48px;
  height: 48px;
  width: 48px;
}